
body{
  margin:auto 0;
  /* background-image: linear-gradient(to right, rgb(71, 125, 141), rgb(71, 125, 141)); */
  background-color: rgb(238, 238, 238)

}
.container{
  background-color: rgb(238, 238, 238); 
  display: flex; 
   padding: 10px; 
   height: 100vh;
   flex-direction: row;
  /*display: grid; 
  grid-template-columns: 1fr;  */
  
}
.left {
  border-right: 1px solid rgb(203, 203, 204);
  width: 50%;
}
.right{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.right-top{
  border-bottom: 1px solid rgb(203, 203, 204);
  height: 50vh;
}
.right-bottom{
    height: 50vh;

}
.particles{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
/*
.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 6fr 2fr 1fr;
}
.nav{
  grid-column:1/-1;
}*/
