.cover{
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
}

.imageCover{
    width: 30em;
    height: 100%;
    padding-top: 20px;
}

@media only screen  and  (max-width:600px){
    .imageCover{
        width: 20em;
    }
}