.project{
background-image: linear-gradient(to right, rgba(0, 17, 95, 0), rgb(71, 125, 141));
} 
.grid-wrapper{
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ; */
}
.box >img{
    width: 25em;
}
.box{
    margin: 5px;
    flex: 0 0 25%;
    transition: ease 0.3s;
}

.box:hover{
    transform:scale(1.05) ;
    cursor:pointer;
}
@media only screen  and  (max-width:600px){
    .wrapper{
        
          
    }
}